:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}



a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

.boutons {
    columns: 5 auto;
}

.bouton{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    width: 80%;
    aspect-ratio: 1/0.3;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto 10px auto;
    cursor: pointer; 
  

}

.container {
    columns: 5 auto;
    column-gap: 0;
}

.image {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
     } 
    
.filtre {
    filter: grayscale(100%);       
}

h1 {
    margin: 50px;
    text-align: center;
}

p {
   
    margin: 30px;
}

#phraseclic {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.descriptif {
    
    overflow-wrap: break-word;
    overflow: hidden;
    background-color: var(--black);
    color: var(--white);
    min-width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

@keyframes passage {
    from {
        transform: translateX(100px);
        
    }

    to {
        transform: translateX(0);
       
    }
}

.texte {
    animation-duration: 3s; 
    animation-name: passage; 
    display: none;
      
}

#pays {
    text-align: center;
    color: var(--white);
    font-size: 20px;
}

.image {
 transition: 3s ease;
}

#edifice {
    font-size: 50px;
    font-weight: bold;
}

#localisation {
    font-size: 23px;
}
.carte {
    width: 20vw;
    height: 20vw;
    margin: auto;
    display: none; 
}


#map { 
    height: 180px; 
}
