:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
} */

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

.boutons {
    columns: 5 auto;
}

.bouton{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    width: 80%;
    aspect-ratio: 1/0.3;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto 10px auto;

}

.container {
    columns: 5 auto;
    column-gap: 0;
}

.image {
    width: 100%;
    aspect-ratio: 1/1;
    
    
}

h1 {
    margin: 50px;
    text-align: center;
}

p {
    text-align: center;
    margin: 30px;
}

#phraseclic {
    font-weight: bold;
    text-decoration: underline;
}

.descriptif {
    overflow-wrap: break-word;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    aspect-ratio: 1/0.25;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}